#wrapper {
  display: flex;
}

#red, #yellow, #green, #blue {
  width: 200px;
  height: 200px;
}

#red {
  background-color: red;
}

#yellow {
  background-color: yellow;
}

#green {
  background-color: green;
}

#blue {
  background-color: blue;
}

.active {
  opacity: .5
}
